.mainLayout {
    background-color: black;
    min-height: 100vh;
    color: white;
}

.library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}
