.playlistCard {
    background-color: #181818;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s;
}

.playlistCard:hover {
    transform: scale(1.05);
}

.playlistCard img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
